body {
font-family : "Lucida Grande", sans-serif;
color : #666666;
font-size : 1.5em;
line-height : 2.4;
}
.container {
margin : 2.8% 0 0 2%;
}
.col-md-12 {
padding : 0 0 2.1% 0;
}
.col-md-5 {
padding : 0 1% 0 2.5%;
}
.col-md-7 {
padding : 0.5% 1% 0 2.3%;
}
#box {
border : #c0c0c0 solid 1px;
margin : 9% 0 0 0;
padding : 4% 2% 6% 8%;
}
#title {
font-size : 3em;
text-align : center;
color : #666666;
padding : 0 1% 0 0;
}
.h2_title {
color : #f07C17;
font-size : 1.65em;
}
#box_title {
padding : 0 0 3% 0;
}
#subtitle-middle {
font-size : 1.7em;
margin : 0 0 4% 0;
}